.collection-menus {
    padding: 7px 0;
    background: var(--menu-background, #000);
    overflow: hidden;
}

.collection-menus-list {
    width: 100%;
}

.collection-menus-link {
    color: var(--menu-text-color, #fff);
    font-size: var(--small-text);
    padding: 4px 10px;
    border-radius: 20px;
    margin: 5px 13px 5px;
    display: inline-block;
    line-height: 1.2;
    transition: .2s ease;
}

.collection-menus.marquee-active {
    display: flex;
}

.collection-menus.marquee-active .collection-menus-list {
    white-space: nowrap;
    flex-wrap: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: menu-marquee;
    animation-duration: var(--animation-speed);
    width: auto;
}

.rtl-direction .collection-menus-list {
    animation-direction: normal;
}

.ltr-direction .collection-menus-list {
    animation-direction: reverse;
}

@keyframes menu-marquee {
    0% {
        transform: translate(0);
        visibility: visible;
    }
    100% {
        transform: translate(-100%);
    }
}

.main-products-wrapper {
    position: relative;
    padding-top: 20px;
}


/* filters css start */

.filter-bar-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.filter-heading {
    display: flex;
    align-items: center;
    color: var(--heading-color);
    padding: 15px 0;
}

.filter-heading-inner {
    display: flex;
    align-items: center;
    background: var(--heading-color);
    padding: 4px;
}

.filter-heading-inner .filter-heading-text {
    padding: 10px 20px;
    background: var(--heading-color-light);
    color: var(--body-background);
}

.filter-heading-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--body-background);
}

.rounded-layout .filter-heading-inner,
.rounded-layout .filter-heading-inner .filter-heading-text {
    border-radius: 10px;
}

.filter-heading-text {
    padding-left: 5px;
}

.filter-bar-right .filter-heading-text {
    padding-right: 5px;
}

.drawer-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    outline: 0;
    transition: .1s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.drawer-main.is-open {
    opacity: 1;
    pointer-events: all;
}

.drawer-main>.close-fullwidth {
    opacity: 0;
    pointer-events: none;
}

.drawer-main.is-open>.close-fullwidth {
    opacity: 1;
    pointer-events: all;
}

.filter-drawer {
    position: relative;
    background: var(--body-background);
    box-shadow: 0 2px 4px #00000012;
    border-top: 1px solid var(--border-color);
    z-index: 2;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all .6s ease;
    clip-path: inset(0 0 100% 0);
    transition-delay: 0.02s;
    max-height: 42vh;
    height: 42vh;
    overflow: hidden;
}

.is-open .filter-drawer {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    clip-path: inset(0 0 -3% 0);
}

.filter-drawer .container {
    height: 100%;
}

.filter-content {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;
}

.filter-name-heading {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
}

.filter-name-heading-icon {
    line-height: 0;
    color: var(--heading-color);
}

.filter-name-heading-icon svg {
    width: 12px;
    height: 12px;
}

.filter-name-heading-icon svg path {
    transition: .2s ease;
    transform-origin: center;
}

.filter-item[open] .filter-name-heading-icon svg>path:first-child {
    opacity: 0;
    transform: rotate(90deg);
}

.filter-item[open] .filter-name-heading-icon svg>path:last-child {
    transform: rotate(90deg);
    transform-origin: center;
}

.filter-option-item {
    font-size: var(--text);
    transition: .2s ease;
}

.filter-option-item {
    margin-top: 10px;
}

.filter-option-item.disabled {
    opacity: 0.5;
    position: relative;
    overflow: hidden;
}

.filter-option-item.disabled label {
    text-decoration: line-through;
}

.filter-color-item .filter-option-item.disabled label:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}

.filter-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    margin: 0 -10px;
    height: 100%;
}

.filter-columns {
    overflow-y: auto;
}

.filter-columns-item {
    flex: 0 0 100%;
    padding: 20px 0;
}

.filter-item {
    padding: 0 10px;
}

.filter-color-item .checkmark {
    display: none;
}

.filter-color-item .filter-option-list ul {
    display: flex;
    flex-wrap: wrap;
}

.filter-color-item .filter-option-item {
    display: flex;
    position: relative;
    min-width: 26px;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 4px;
}

.filter-color-item .filter-option-list.circle .filter-option-item {
    border-radius: 100%;
}

.rounded-layout .filter-color-item .filter-option-list.square .filter-option-item {
    border-radius: 4px;
}

.filter-option-item.active {
    box-shadow: 0 0 0 1px var(--text-color) inset;
}

.filter-color-item .checkmark-input {
    width: 100%;
    height: 100%;
    top: 0;
}

.filter-color-item label {
    color: var(--text-color);
    background: var(--body-alternate-background);
    box-shadow: 0 0 0 1px var(--border-color);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    font-size: 0;
    margin: 0;
}

.filter-color-item .filter-option-list.circle label {
    border-radius: 100%;
}

.rounded-layout .filter-color-item .filter-option-list.square label {
    border-radius: 4px;
}


/* sideview */

.filter-drawer-content-header {
    padding-bottom: 10px;
}

.filter-drawer-content {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.filter-drawer-content .filter-columns {
    display: block;
    margin: 0;
}

.filter-drawer-content .filter-columns-item {
    padding: 30px 0 0;
}

.filter-drawer-content .filter-columns-item:first-child {
    padding: 0;
}

.filter-drawer-content .filter-buttons {
    justify-content: flex-start;
}

.filter-drawer-content-header {
    padding: 20px 20px;
}


/* end */

.applied-filters {
    padding-bottom: 15px;
}

.applied-filter-link {
    position: relative;
    padding: 5px 12px;
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 10px;
    color: var(--body-background);
    border-radius: 40px;
    background: var(--text-color);
    line-height: 1.3;
}

.applied-filter-link span {
    position: absolute;
    top: -5px;
    right: -2px;
    background: var(--body-background);
    color: var(--text-color);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px #626262;
    padding: 3px;
}

.filters-expand {
    font-size: var(--small-text);
    padding: 8px 0;
    display: block;
}

.filters-expand.active .vertical-line {
    transform: rotate(180deg);
}

.filter-buttons {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.filter-drawer.side-view .filter-buttons {
    justify-content: flex-start;
}

.infinte-scroll {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.filter-bar-right .custom-select-content {
    min-width: 250px;
}

.custom-select-item input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    min-height: auto;
    border: 0;
    background: 0;
    padding: 0;
}

.custom-select-label {
    font-size: var(--small-text);
}

.filter-bar-right .custom-select-item {
    transition: .3s ease;
    padding: 3px 18px;
}

.rounded-layout .custom-select-item.selected {
    border-radius: 4px;
}

.custom-select-item.selected {
    background: var(--text-extralight-color);
}

.custom-select-item.selected::before {
    background-color: var(--text-color);
}

.custom-select-item.selected label {
    color: var(--text-color);
}


/* end */


/* price range slider */

.filter-price-option-item {
    padding-top: 20px;
}

.filter-option-price-slider {
    height: 3px;
    position: relative;
    background: var(--body-alternate-background);
}

.filter-option-price-slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: var(--text-color);
}

.filter-option-range-input {
    position: relative;
}

.price-slider-range-min,
.price-slider-range-max {
    position: absolute;
    width: 100%;
    height: 3px;
    top: -3px;
    background: none;
    border: 0;
    padding: 0;
    min-height: auto;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--body-background);
    border: 2px solid var(--text-color);
    pointer-events: auto;
    -webkit-appearance: none;
}

.filter-option-price-range-value {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.filter-option-input-field {
    max-width: 48%;
    flex: 0 0 48%;
}

.filter-option-price-range-value .field-wrapper {
    border: 1px solid var(--text-color);
    padding: 8px;
    display: flex;
    font-size: 14px;
}

.filter-option-price-range-value .filter-option-input-field input {
    max-width: 90%;
    background: transparent;
    border: 0;
    min-height: auto;
    padding: 0;
    padding-left: 5px;
    font-size: 14px;
    margin: 0;
}


/* end */


/* filter swatch css start */

.filter-option-item.swatch-filter-item {
    padding-left: 0;
}

.swatch-filter-item .filter-swatch-img {
    width: 26px;
    height: 26px;
    padding: 4px;
    overflow: hidden;
}

.filter-swatch-img:after {
    background: var(--swatch-color);
    box-shadow: 0 0 0 1px var(--border-color);
    position: absolute;
    content: "";
    left: 4px;
    top: 4px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.filter-option-list.circle .filter-swatch-img,
.filter-option-list.circle .filter-swatch-img:after {
    border-radius: 100%;
}

.rounded-layout .filter-option-list.square .filter-swatch-img,
.rounded-layout .filter-option-list.square .filter-swatch-img:after {
    border-radius: 4px;
}

.filter-swatch-img.image:after {
    background: var(--swatch-img);
}

.swatch-filter-item .checkmark {
    display: none;
}

.swatch-filter-item label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    align-items: center;
}

.swatch-filter-item.filter-image-style .filter-swatch-img {
    width: 66px;
    height: 66px;
    padding: 0;
    border-radius: 0!important;
}

.swatch-filter-item.filter-image-style .filter-swatch-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swatch-filter-item.filter-image-style .filter-swatch-img:after {
    display: none;
}

.filter-option-item.swatch-filter-item.active {
    box-shadow: unset;
}

.filter-option-item.swatch-filter-item.active .filter-swatch-img {
    box-shadow: 0 0 0 1px var(--text-color) inset;
}


/* end */

@media (min-width:576px) {
    .filter-columns {
        flex-wrap: nowrap;
    }
    .filter-columns-item {
        flex: 0 0 33.33%;
        padding: 30px 0;
    }
}

@media (min-width:768px) {
    .filter-buttons {
        padding: 30px;
    }
    .collection-menus-link {
        padding: 4px 10px;
    }
    .filter-columns-item {
        flex: 0 0 25%;
    }
    .filter-columns {
        margin: 0 -20px;
    }
    .filter-item {
        padding: 0 20px;
    }
    .filter-option-item {
        margin-top: 15px;
    }
    .filter-drawer .filter-name-heading-icon {
        display: none;
    }
    .filter-bar+.main-products-wrapper {
        padding-top: 0;
    }
}

@media (min-width:1025px) {
    .collection-menus-link:hover {
        color: var(--menu-hover-color);
        background: var(--menu-hover-background);
    }
    .filter-bar-right .custom-select-item:hover {
        background: var(--body-alternate-background);
    }
    .filter-columns-item {
        flex: 0 0 20%;
    }
    .collection-menus.marquee-active:hover .collection-menus-list {
        animation-play-state: paused;
    }
    .filter-color-item .filter-option-item:hover {
        box-shadow: 0 0 0 1px var(--text-color) inset;
    }
}

@media (min-width:1200px) {
    .filter-buttons {
        padding: 30px;
    }
    .filter-drawer.side-view .filter-item {
        padding: 0 40px;
    }
    .collection-menus-link {
        margin-left: 23px;
        margin-right: 23px;
    }
    .filter-columns-item {
        flex: 0 0 16.67%;
    }
    .filter-columns {
        margin: 0 -30px;
    }
    .filter-item {
        padding: 0 40px;
    }
    .filter-heading {
        padding: 25px 0;
    }
    .filter-drawer-content-header {
        padding: 30px 40px;
    }
}

@media (min-width:1441px) {
    .filter-drawer-content .filter-item {
        padding: 0 40px;
    }
    .filter-drawer-content-header {
        padding: 30px 40px;
    }
}

@media (max-width:1199px) {
    .filter-drawer-heading {
        padding-right: 30px;
    }
}

@media (max-width:767px) {
    .filter-content {
        grid-template-rows: auto 1fr;
    }
    .filter-columns-item {
        padding: 20px 0 0;
    }
    .filter-option-list {
        padding-bottom: 10px;
    }
    .filter-drawer-content .filter-item {
        padding: 0 20px;
    }
    .filter-drawer-content-header {
        padding: 20px 20px;
    }
    .filter-bar {
        position: sticky;
        top: calc(var(--dynamic-header-height) - 1px);
        background: var(--body-background);
        z-index: 2;
        box-shadow: 0 0 4px 1px #0000002b;
    }
    .filter-drawer-content .filter-columns-item {
        padding: 15px 0 0;
    }
    .main-products-wrapper .row {
        margin: 0 -5px;
    }
    .main-products-wrapper .col-6 {
        padding: 0 5px;
    }
    .filter-heading-inner .filter-heading-text {
        padding: 10px 15px;
    }
}