.newsletter .section-container {
    position: relative;
    --button-background: var(--form-text-color);
    --button-border: var(--form-text-color);
    --button-text-color: var(--form-background);
}

.newsletter-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--image-bg);
    overflow: hidden;
}

.newsletter-background:after {
    content: "";
    background: var(--overlay-background);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: var(--overlay-opacity);
}

.newsletter-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.newsletter-box {
    position: relative;
    z-index: 1;
    max-width: 450px;
}

.newsletter-box.content-left {
    margin-right: auto;
}

.newsletter-box.content-center {
    margin-left: auto;
    margin-right: auto;
}

.newsletter-box.content-right {
    margin-left: auto;
}

.newsletter-heading {
    padding-bottom: 30px;
}

.newsletter-form-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--form-background);
    border: 1px solid var(--form-border);
    padding: 12px;
    border-radius: var(--form-radius);
}

.newsletter-form-box input {
    background: transparent;
    border: 0;
}

@media (min-width:768px) {
    .newsletter .newsletter-form-box {
        max-width: 90%;
    }
    .newsletter .newsletter-box.text-center .newsletter-form-box {
        margin-left: auto;
        margin-right: auto;
    }
    .newsletter .newsletter-box.text-right .newsletter-form-box {
        margin-left: auto;
    }
    .newsletter .newsletter-box.text-left .newsletter-form-box {
        margin-right: auto;
    }
    .newsletter-box {
        max-width: 510px;
    }
}

@media (min-width:1200px) {
    .newsletter .newsletter-form-box {
        max-width: 78%;
    }
    .newsletter-form-box .form-control {
        font-size: var(--h5);
    }
    .newsletter-box {
        max-width: 700px;
    }
    .newsletter-heading {
        padding-bottom: 40px;
    }
}

@media (min-width:1441px) {
    .newsletter-box {
        max-width: 850px;
    }
    .newsletter-heading {
        padding-bottom: 60px;
    }
    .newsletter-form-box {
        padding: 22px;
    }
}

@media (max-width:991px) {
    .newsletter-form-box input {
        min-height: auto;
        padding: 0px 15px;
    }
}